.about-r {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 2rem 8rem;
}

.about-r-content p {
  width: 300px;
  line-height: 2rem;
  text-align: justify;
}
.about-r-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
